<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body, html {
            background: black;
            height: 100%;
            margin: 0;
        }
        .bg {
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>
</head>
<body>
<div class="bg" th:style="${' background-image: url(' + imgSrc + ');'}" ></div>
</body>
</html>