<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            float: left
        }
    </style>
</head>
<body>

<h1>Upload image (25MB max)</h1>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${not #lists.isEmpty(fileNames)}">
    <h1>Images</h1>
    <div class="table table-striped">
        <span th:each="name : ${fileNames}">
            <a th:href="${'../image/' + name}">
                <table>
                    <tr>
                        <td><img style="height: 100px;" th:src="${'../image/' + name + '/download'}" /></td>
                    </tr>
                    <tr>
                        <td align="center"><a th:href="${'../image/' + name + '/delete'}">delete</a></td>
                    </tr>
                </table>
            </a>
        </span>
    </div>
</div>

</body>
</html>