<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Upload image</h1>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${not #lists.isEmpty(fileSrcs)}">
    <h1>Images</h1>
    <div class="table table-striped">
        <span th:each="fileSrc : ${fileSrcs}">
            <a th:href="${fileSrc}">
                <img style="height: 100px;" th:src="${fileSrc}" />
            </a>
        </span>
    </div>
</div>

</body>
</html>